<div class="mt-5">  
    <form method="POST" action="/course/store">
        <div class="mb-3">
            <label for="nameCourse" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" id="nameCourse">
        </div>
        <div class="mb-3">
            <label for="descriptionCourse" class="form-label">Description</label>
            <input type="text" name="description" class="form-control" id="descriptionCourse">
        </div>
        <div class="mb-3">
            <label for="videoIdCourse" class="form-label">Video ID</label>
            <input type="text" name="videoId" class="form-control" id="videoIdCourse">
        </div>
        <button type="submit" class="btn btn-primary">Đăng khoá học</button>
    </form>
</div>