<div class="mt-5">
    <div class="row">
        <div class="col-3">
            <button class="btn btn-info"> Học ngay </button>
            <p>Thời gian: 500 giờ</p>
        </div>
        <div class="col-9">
            <h2>{{course.name}}</h2>
            <iframe width="800" height="500" src="https://www.youtube.com/embed/{{course.videoId}}" title="SSR &amp; CSR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>